<!-- js.html -->
<!DOCTYPE html>
<html>
<head>
    <title>JavaScript</title>
</head>
<body>
  <h1> This is a header </h1>
<!-- import JavaScript files here -->
    <p id='p_name'></p>
  <!--  <script src="script.js"></script> -->
    <a href="JavaScript:void(0)", onclick="alert('Hello')">Say Hello</a><br> <!-- do not reload the page -->
    <a href="JavaScript:void(0)", onclick="alert('Hello by')">Say Bye</a><br> <!-- reload the page -->
    <a href="JavaScript:void(0)", onclick="alert('Bye via function')">Bye-function</a><br>
    <a href="JavaScript:void(0)",
    onmouseover="this.style.color='red'",
    onmouseleave="this.style.color='blue'",
    onmouseup="this.text='Not clicked'",
    onmousedown="this.text='You clicked me'">
    Not clicked
  </a><br>
  <!-- import JavaScript files here -->
  <script src="asset/js/my_javascript.js"></script>

</body>
</html>
